.App{
  background-color: #ee9b00;
}

.types_pic {
  height: 500px;
  width: 700px; 
}

.workouts_pic {
  height: 400px;
  width: 700px; 
}

#spine_pic {
  height: 415px;
  width: 155px; 
}

/* welcome page  */

#main {
  background-color: #e76f51;
  width: 80%;
  height: fit-content;
  border-radius: 20%;
  margin-top: 30px;
  padding: 50px;
}

.navbar {
  background-color: #2a9d8f;
  width: fit-content;
  left: 200px;
}

.navbar a {
  color: #264653;
  padding: 10px;
}

.navbar a:hover {
  color: #ee9b00;
}

text {
  font-style: italic;
}

#nomore_sign {
  height: 350px;
  width: 350px;

}
